body,
html {
  margin: 0;
  padding: 0;
  color: #333333;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.warp {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.page {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.page .content {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.top100,
.page.bottom100,
.page.left100,
.page.right100,
.page.left50 {
  z-index: 1;
}
.page.top100 .content {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.page.bottom100 .content {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.page.left100 .content {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.page.right100 .content {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page.left50 .content {
  -webkit-transform: translate3d(50%, 0, 0);
  -moz-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  -o-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.side {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}
#page1 {
  background-color: #ccc;
}
